.main{
    display: flex;
    justify-content: space-around;
    width: 30%;
    border: 10px solid rebeccapurple;
    text-align: center;
    margin: auto;
    margin-top: 0%;
    padding: 2%;
}
#btn{
    display: flex;
    border: 10px solid rebeccapurple;
    text-align: center;
    margin: auto;
    text-align: center;
    justify-content: space-around;
    width: 30%;
    margin-top: 15%;
    padding: 2%;
   
}
#btn1{
    display: flex;
    border: 10px solid rebeccapurple;
    text-align: center;
    margin: auto;
    justify-content: space-around;
    width: 30%;
   padding: 2%;
}
.disable{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
